
<style type="text/css">
  body,html{
    height: 100%;
  }
    #mainDiv{
       background-image: linear-gradient(#C04848, #480048);
       height: 100%;
       font-family:Arial;
    }
    #subDiv{
      border:2px solid;
      padding: 30px;
      margin-top: 50px;
      border-radius: 13px;
        background-image: linear-gradient(#ECE9E6, #FFFFFF);
    }
    #btn{
      font-size: 18px;
    }
  </style>
  <script type="text/javascript">
    function add(){
      var n=document.getElementById("n").value;  
      var url="";
      var number1=5;
      var number2=15;
      $("table tbody").append("<tr><td>hello</td><td>hello</td><td>hello</td><td>hello</td></tr>");
      var option=$('#dropdown').val();
      if(option==0){
        alert("Please select a processing option");
      }
      else{
        if(option==1){
          alert("without");
        }
        else if(option==2){
          alert("With");
        }
      }
      for (i=0; i<n;i++)
      {
        $.ajax({
            url:url,
            type:"GET",
            data: { number1: number1, number1: number2 },
            success:function(result){
              console.log(result);
              $("#result").html();
            },
            error:function(error){
              console.log("Error ${error}")
            }
          });
      }
      var today = new Date();
      var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      var dateTime = date+' '+time;
     $('#timestamp').html("<b>"+dateTime+"</b>");
    }
  </script>
  <div class="container-fluid" id="mainDiv">
    <div class="col-lg-3">
      
    </div>
    
  
    <div class="col-lg-6" id="subDiv">
     <div>
       <center><h1>Add two numbers</h1></center><br/>
     </div> 
     <div>
       <b>Select your processing option:</b>
      <select id="dropdown">
        <option value="0">Please Select</option>
        <option value="1">Without Scaling and Load balancing</option>
        <option value="2">With Scaling and Load balancing</option>
      </select>
     </div><br/>
     <b>Enter the number of itterations:</b>
     <input type="number" id="n"/><br/><br/>
      <label for="num1">Number 1:</label>
      5
     <br/>
    
      <label for="num2">Number 2:</label>
      15
      <br/>
    <center><button type="button" class="btn btn-primary" id="btn" onclick="add()">Start the Add loop</button></center>
    <br/>
    <h3>Timestamp:</h3>
       <div id="timestamp">
         
      </div>
      <br/>
    <div id="result">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Request-Id</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Total processing time</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr> -->
            </tbody>
          </table>
    </div>
    </div>
  
 
  <div class="col-lg-3">
      
  </div>
</div>
  
   
  