
<style type="text/css">
  body,html{
    height: 100%;
  }
    #mainDiv{
       /* background-image: linear-gradient(#C04848, #480048); */
       background-color: #FFFFFF;
       height: 100%;
       font-family:Arial;
    }
    #subDiv{
      border:2px solid;
      padding: 30px;
      margin-top: 50px;
      border-radius: 13px;
      background-image: linear-gradient(#ECE9E6, #FFFFFF);
    }
    #btn{
      font-size: 18px;
    }
  </style>
  <script type="text/javascript">

    function add(){
      var n=document.getElementById("n").value;  
      var url="";
      var number1=5;
      var number2=15;
      // $("table tbody").append("<tr><td>hello</td><td>hello</td><td>hello</td><td>hello</td></tr>");
      var option=$('#dropdown').val();
      if(option==0){
        alert("Please select a processing option");
      }
      else{
        if(option==1){
          var count = 1;
          url="https://non-scaling-app.herokuapp.com/Api/pride?firstNumber="+number1+"&secondNumber="+number2;
                for (i=0; i<n;i++)
                {
              $.ajax({
                  url:url,
                  type:"GET",
                  success:function(result){
                    console.log(result);
                    $("table tbody").append("<tr><td>"+count+"</td><td>"+result.startTime+"</td><td>"+result.endTime+"</td><td>"+result.timeDifference+"</td><td>"+result.sum+"</td><td>No Scaling/Load Balancing</td></tr>");
                    count = count +1;
                  },
                  error:function(error){
                    console.log("Error ${error}")
                  }
                });
            }
        }
        else if(option==2){
          var count = 1;
          url="https://assignment6-scaling-load.herokuapp.com/Api/pride?firstNumber="+number1+"&secondNumber="+number2;
          for (current=0; current<n;current++)
            {
          
              $.ajax({
                  url:url,
                  type:"GET",
                  success:function(result){
                    $("table tbody").append("<tr><td>"+count+"</td><td>"+result.startTime+"</td><td>"+result.endTime+"</td><td>"+result.timeDifference+"</td><td>"+result.sum+"</td><td>With Scaling/Load Balancing</td></tr>");
                    count = count +1;
                  },
                  error:function(error){
                    console.log("Error ${error}")
                  }
                });
            }
        }
      }
     
      var today = new Date();
      var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      var dateTime = date+' '+time;
      $('#timestamp').html("<b>"+dateTime+"</b>");
      $('#load').html("<b>"+n+"</b>");
    }

    $(document).ready(function(){
      $('.clear-table').click(function(){
        $(".table td").remove();
      })
    })
  </script>
  <div class="container-fluid" id="mainDiv">
    <div class="col-lg-2">
      
    </div>
    
  
    <div class="col-lg-8" id="subDiv">
     <div>
       <center><h1>Add two numbers</h1></center><br/>
     </div> 
     <div>
       <b>Select your processing option:</b>
      <select id="dropdown">
        <option value="0">Please Select</option>
        <option value="1">Without Scaling and Load balancing</option>
        <option value="2">With Scaling and Load balancing</option>
      </select>
     </div><br/>
     <b>Enter the number of itterations:</b>
     <input type="number" id="n"/><br/><br/>
      <label for="num1">Number 1:</label>
      5
     <br/>
    
      <label for="num2">Number 2:</label>
      15
      <br/>
    <center><button type="button" class="btn btn-primary" id="btn" onclick="add()">Start the Add loop</button></center><br/>
    <center><button type="button" class="btn btn-primary clear-table" id="clear" onclick="clear()">Clear Table</button></center>
    <br/>
    <h3>Request Timestamp:</h3>
       <div id="timestamp">
         
      </div>
      <h3>Load(Number of Requests):</h3>
      <div id="load">
        
     </div>
      <br/>
    <div>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Request-Id</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Total processing time</th>
                <th scope="col">Sum</th>
                <th scope="col">Processing option</th>
              </tr>
            </thead>
            <tbody>
     
            </tbody>
          </table>
    </div>
    </div>
  
 
  <div class="col-lg-2">
      
  </div>
</div>
  
   
  